.photo-grid {
  margin: 92px min(48px, 3%) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 16px;  
}

@media only screen and (max-width: 768px) {
  .intro {
    margin-top: 64px;
  }
}