.places {
  margin: 92px 148px 0;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media only screen and (max-width: 1050px) {
  .places {
    margin: 92px 48px 0;
    row-gap: 56px;
  }
}

@media only screen and (max-width: 800px) {
  .places {
    margin: 88px 24px 0;
    row-gap: 56px;
  }
}

@media only screen and (max-width: 800px) {
  .places {
    margin: 88px 16px 0;
    row-gap: 50px;
  }
}