.lead {
  padding-top: 62px;
  margin: 0 148px;
}

@media only screen and (max-width: 1050px) {
  .lead {
    padding-top: 54px;
    margin: 0 48px;
  }
}

@media only screen and (max-width: 800px) {
  .lead {
    padding-top: 47px;
    margin: 0 auto;
  }
}