.lead {
  padding-top: 55px;
  margin-top: 0;

}

@media only screen and (max-width: 1050px) {
  .lead {
    padding-top: 48px;
  }
}

@media only screen and (max-width: 800px) {
  .lead {
    padding-top: 47px;
    margin-right: auto;
    margin-left: auto;
  }
}