.place__paragraph {
  margin: 0 auto 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}


@media only screen and (max-width: 800px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media only screen and (max-width: 550px) {
  .place__paragraph {
    margin-right: 16px;
    margin-left: 16px;
  }
}

.place__paragraph:last-child {
  margin-bottom: 0;
}