.intro {
  margin: 92px auto 0 148px;
  max-width: 690px;
}

@media only screen and (max-width: 1050px) {
  .intro {
    margin-left: 48px;
  }
}

@media only screen and (max-width: 800px) {
  .intro {
    margin-left: 24px;
  }
}